/* :root selector는 루트 요소에 스타일을 적용합니다. */
:root {
  /* 기본 폰트 설정 */
  font-family: "Pretendard-Regular";
  font-size: 16px;
  font-weight: 400;

  /* 라이트 컬러 스키마 사용 */
  color-scheme: light;

  /* 폰트 시스템 설정 */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* @font-face 규칙을 사용하여 외부 폰트를 불러옵니다. */
@font-face {
  /* 폰트 패밀리 명칭 */
  font-family: "Pretendard-Regular";

  /* 폰트 파일 경로 및 포맷 설정 */
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");

  /* 폰트 무게 및 스타일 설정 */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Medium";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff")
    format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Bold";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
}
